#RecommendWindow {
    outline: none;
    background-color:rgb(59, 59, 59);
    /* background-color:rgb(225, 225, 225); */
    border: 1px solid #ccc;
    border-radius: 10px;
    color:rgb(255, 255, 255);
    font-size: 24px;
}

SelectRecommendWindow {
    outline: none;
}



#BtnSelectRecommend {
    outline: none;
    border: none;
    padding: none;
    background: transparent;
    color:rgb(255, 255, 255);
}

QLabel {
    color:rgb(255, 255, 255);
}

QListWidget {
    background-color:rgb(38, 38, 38);
    border: none;
    outline: none;
}

QListWidget::item:hover {
    background-color:rgba(0, 94, 255, 0.37)
}
QListWidget::item:selected {
    background-color:rgba(0, 94, 255, 0.78);
}
QWidget#form {
    border: none;
    padding: 0;
    margin: 0;
}

#CancleBtn {

    margin-top: 5px;
    margin-left: 5.5px;
    margin-right: 5.5px;
    margin-bottom: 5px;
    padding: 6px;
    background-color:rgba(255, 50, 50, 0.45);
    color:rgb(221, 221, 221);
}

#CancleBtn:focus, #CancleBtn:hover{
    border: 2px solidrgb(154, 210, 255);
    background-color:rgba(255, 50, 50, 0.7);
    outline: none;
}


#CancleBtn:disabled {
    border: 2px solid #ccc;
    color:rgb(176, 176, 176);
}
