SideBarElement {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    padding: 8px 12px;
    text-align: left;
}

SideBarElement:hover {
    background-color: #e0e0e0;
    /* background-color:rgb(159, 178, 255); */
}

SideBarElement:pressed {
    /* background-color: #cccccc; */
    background-color:rgb(80, 118, 255);
}

SideBarElement:checked {
    background-color:rgb(80, 118, 255);
}

MainWindowSideBar {
    /* background-color:rgb(255, 106, 106); */
    color: rgb(0, 0, 0);

}

MainWindowContent {
    /* background-color:rgb(115, 255, 155); */
    color: rgb(0, 0, 0);
}

MainWindow {
    background-color: #FeFeFe;
}

QLabel[parent="MainWindowContent"] {
    color: rgb(0, 0, 0);
}

QPushButton {
    color: rgb(0, 0, 0);
}

QLabel {
    color: rgb(0, 0, 0);
}